<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: head"/>
</head>
<body>
    <nav th:include="/fragments/navbar :: navbar"/>

    <div class="container mt-4">
        <h1>Create post</h1>
        <form th:action="@{/posts/create}" th:method="post" th:object="${newPost}">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{user}"/>
            Title:
            <input th:field="*{title}" />
            <br />
            Description:
            <input th:field="*{description}" />
            <br />
            <input type="submit" />
        </form>
    </div>
    <div th:include="/fragments/footer :: footer"></div>
</body>
</html>