<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"/>

<body>
    <nav th:include="/fragments/navbar :: navbar"></nav>
    <h1>This is the show posts page</h1>

    <div th:text="${title}"></div>
    <div th:text="${post}"></div>

    <div class="container"  >
        <h2 th:text="${post.getTitle()}"></h2>
    <p>Contact user: <a th:text="${post.user.email}" th:href="'mailto:' + ${post.getUser().getEmail()}"></a></p>
    <p th:text="${post.getDescription()}"></p>
    </div>
    <div th:include="/fragments/footer :: footer"></div>
</body>
</html>