<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-default">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/hello/Fortuna">Hello</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/welcome">Welcome</a></li>
        <li><a href="/roll-dice">Dice Roll</a></li>
    </ul>
    <!-- awesome navbar goes here -->
</nav>
</body>
</html>