<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:include="fragments/head :: head"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<h1>This is the home page</h1>
<div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="/posts" role="button">View Posts</a>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>