<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<nav th:include="fragments/navbar :: navbar"></nav>

<div class="alert alert-danger" th:if="${cohort == null}">
    Enter a Cohort
</div>

<div class="alert alert-danger" th:unless="${cohort == null}">
    <h1 th:text="${cohort}"></h1>
</div>

<!--Submit Form-->
<form action="/join" method="post">
    <input type="text" name="cohort" id="cohort-ip" class="field" />
    <button>Join now</button>
</form>

</body>
</html>